.new-category-card {
    margin-top: 45px;
    padding: 15px 20px;
}

.save-category-buttom {
    height: 40px;
    border-radius: 10px;
}

.input-base {
    height: 40px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #263238;
}
