.category-card-admin {
    margin-top: 45px;
    border-radius: 10px;
    padding: 20px 15px 15px 20px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #263238;
}

.category-btn {    
    height: 40px;
    flex: 1;
    justify-content: space-between;
}